<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.tlantic.plugins.scp"
    version="0.1.0">
    <name>SCP</name>
    <description>Tlantic Secure Copy plugin</description>
    <license>GPL</license>
    <keywords>cordova, scp, copy, secure, tlantic</keywords>

    <!-- www -->
    <js-module src="www/scp.js" name="SecureCopy">
        <clobbers target="window.tlantic.plugins.scp" />
    </js-module>  

</plugin>
